[Unit]
Description=Monitor watcher for Rust-Dock, Waybar and Wallpaper auto-synchronization
After=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/rust-dock-monitor-watcher
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
