@define-color foreground #c2c3c6;
@define-color background #0c121e;
@define-color cursor #c2c3c6;

@define-color color0 #0c121e;
@define-color color1 #344356;
@define-color color2 #3B6353;
@define-color color3 #384B68;
@define-color color4 #4F5768;
@define-color color5 #8E7273;
@define-color color6 #5A728A;
@define-color color7 #c2c3c6;
@define-color color8 #5c6170;
@define-color color9 #344356;
@define-color color10 #3B6353;
@define-color color11 #384B68;
@define-color color12 #4F5768;
@define-color color13 #8E7273;
@define-color color14 #5A728A;
@define-color color15 #c2c3c6;
