@define-color foreground #c3c8c8;
@define-color background #102325;
@define-color cursor #c3c8c8;

@define-color color0 #102325;
@define-color color1 #576970;
@define-color color2 #71817E;
@define-color color3 #6F7C84;
@define-color color4 #78848B;
@define-color color5 #889298;
@define-color color6 #98A0A6;
@define-color color7 #c3c8c8;
@define-color color8 #5f7374;
@define-color color9 #576970;
@define-color color10 #71817E;
@define-color color11 #6F7C84;
@define-color color12 #78848B;
@define-color color13 #889298;
@define-color color14 #98A0A6;
@define-color color15 #c3c8c8;
